body {
  position: relative;
  color: #333;
  font-family: 'ProximaNova', sans-serif;
  font-size: 14px;
}

.wrapper {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.uk-link, a{
    color: #2c3329;
    &:hover{
        color: $green;
        text-decoration: none;
    }
}
