<div class="footer">
    <div class="container">
        <div class="footer__logo columns" -style="border: 1px red solid;">
            <img src="/assets/template/img/logo-white.png" alt="">
        </div>
        <div class="columns footer__main-menu" -style="border: 1px red solid;">
            <ul class="">
                <li><a href="/about.html">Компания</a></li>
                <li><a href="/price.html">Услуги</a></li>
                <li><a href="/review.html">Отзывы</a></li>
                <li><a href="/news.html">Новости</a></li>
                <li><a href="/contacts.html">Контакты</a></li>
            </ul>
        </div>
        <div class="columns footer__service-menu" -style="border: 1px red solid;">
            <div class="footer__section">
                <div class="footer__section-name"><a href="/recruitment.html">Подбор персонала</a></div>
                <ul class="footer__section-list">
                    <li><a href="/bank.html">Банковский сектор</a></li>
                    <li><a href="#">Колл-центры</a></li>
                    <li><a href="#">Финансовые услуги</a></li>
                    <li><a href="#">Продажи</a></li>
                    <li><a href="#">Бухгалтерия</a></li>
                    <li><a href="#">Телекоммуникации</a></li>
                    <li><a href="#">IT-отрасль</a></li>
                </ul>
            </div>
            <div class="footer__section">
                <div class="footer__search">
                    <input type="text" name="query" placeholder="Я ищу...">
                    <button type="submit"></button>
                </div>
                <div class="footer__section-name"><a href="/candidate.html">Соискателям</a></div>
            </div>
        </div>
        <div class="columns footer__contacts" -style="border: 1px red solid;">
            <div class="footer__col-height">
                <div class="footer__contacts-group">
                    <div class="footer__phone">
                        (499) 110-54-55
                    </div>
                    <div class="footer__address">
                        Москва<br />
                        Рязанский проспект<br />
                        д. 32, к3, офис 307
                    </div>
                    <div class="footer__email">
                        <a href="mailto:info@delovshtate.ru">info@delovshtate.ru</a>
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn__call--footer open-popup-link" href="#callback-form">Заказать звонок</a>
            </div>
        </div>
    </div>
</div>
<div class="copyright__wrap">
    <div class="container">
        <div class="columns copyright__text ">© ООО «Дело в штате», 2017. Все права защищены</div>
        <div class="columns copyright__privacy"><a href="#" class="police__link">Политика конфиденциальности</a></div>
        <div class="columns copyright__developer">Разработка сайта <a href="#">Creativelab.pro</a></div>
    </div>
</div>



<div style="display: none;">
    <div id="callback-form" class="callback-form">
        <div class="callback-form__header">Перезвоним и ответим на все вопросы</div>
        <div class="callback-form__forma">
            <form action="" method="post">
                <div class="row">
                    <div class="columns callback-form__item">
                        <input name="name" placeholder="Контактное лицо*" type="text">
                    </div>
                    <div class="columns callback-form__item">
                        <input name="phone" placeholder="+7 (___) __-__-__" type="text">
                    </div>
                </div>
                <div class="callback-form__agree">
                    <label>
                        <input class="checkbox" name="checkbox-test" type="checkbox">
                        <span class="checkbox-custom"></span>
                        <span class="label">выражаю согласие на обработку персональных данных (политика конфиденциальности)</span>
                    </label>
                </div>
                <div class="callback-form__button">
                    <button type="submit"  class="btn">Заказать звонок</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <!-- @if NODE_ENV='development' -->
    <script
        src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="assets/template/vendor/slick/slick.js"></script>
    <script src="assets/template/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="assets/template/vendor/jquery.inputmask.bundle.js"></script>
    <script src="assets/template/js/scripts.js"></script>
    <!-- @endif -->

    <!-- @if NODE_ENV='production' -->
    <script src="assets/template/vendor/jquery-3.2.1.slim.min.js"></script>
    <script src="assets/template/js/scripts.js"></script>
    <!-- @endif -->

</body>
</html>
