<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- @if NODE_ENV='development' -->
    <link rel="stylesheet" href="/assets/template/vendor/slick/slick.css">
    <link rel="stylesheet" href="/assets/template/css/main.css">
    <!-- @endif -->

    <!-- @if NODE_ENV='production' -->
    <link rel="stylesheet" href="assets/template/css/main.min.css">
    <!-- @endif -->
</head>
<body>


<div class="header">
    <div class="topline">
        <div class="container">
            <div class="topline__address columns eight">Москва, Рязанский проспект, д. 32, к3, оф. 307</div>
            <div class="topline__anketa columns three">Анкета на подбор</div>
        </div>
    </div>
    <div class="header__body">
        <div class="container">
            <div class="header__logo columns three">
                <a href="/"><img src="/assets/template/img/logo.png" alt=""></a>
            </div>
            <div class="header__center columns six">
                <div class="header__top-menu">
                    <ul class="top-menu__list">
                        <li class="active"><a href="#">Компания</a></li>
                        <li><a href="#">Услуги и цены</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="header__section-menu">
                    <ul class="section-menu__list">
                        <li class="columns six"><a href="#">Подбор персонала</a></li>
                        <li class="columns six"><a href="#">Соискателям</a></li>
                    </ul>
                </div>
            </div>
            <div class="header__contacts columns three">
                <div class="header__phone">(499) 110-54-55</div>
                <div class="header__call">
                    <a href="#" class="btn">Заказать звонок</a>
                </div>
            </div>
        </div>
    </div>
</div>