<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- @if NODE_ENV='development' -->
    <link rel="stylesheet" href="/assets/template/vendor/slick/slick.css">
    <link rel="stylesheet" href="/assets/template/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/template/css/main.css">
    <!-- @endif -->

    <!-- @if NODE_ENV='production' -->
    <link rel="stylesheet" href="assets/template/css/main.min.css">
    <!-- @endif -->
</head>
<body>

<div class="fly-menu">
    <ul class="fly-menu__section">
        <li><a href="/recruitment.html">Подбор персонала</a></li>
        <li><a href="/candidate.html">Соискателям</a></li>
    </ul>
    <ul class="fly-menu__list">
        <li><a href="/about.html">Компания</a></li>
        <li><a href="/price.html">Услуги и цены</a></li>
        <li><a href="/review.html">Отзывы</a></li>
        <li><a href="/contacts.html">Контакты</a></li>
    </ul>
    <a href="#" class="fly-menu__anketa">Анкета на подбор</a>
</div>

<div class="fly-search">
    <div class="fly-search__box">
        <form action="">
            <input class="fly-search__text" placeholder="Поиск" name="query" type="text">
            <button class="fly-search__btn" type="submit"></button>
        </form>
    </div>
</div>
<div class="header">
    <div class="topline">
        <div class="container">
            <div class="topline__address columns">Москва, Рязанский проспект, д. 32, к3, оф. 307</div>
            <div class="topline__right columns">
                <a href="#" class="anketa__link">Анкета на подбор</a>
                <a href="tel:84991105455" class="topline__phone">(499) 110-54-55</a>
            </div>
        </div>
    </div>
    <div class="header__body">
        <div class="container">
            <div class="burger columns toogle-menu"><span></span></div>
            <div class="header__logo columns">
                <a href="/"><img src="/assets/template/img/logo.png" alt=""></a>
            </div>
            <div class="header__center columns">
                <div class="header__top-menu">
                    <ul class="top-menu__list">
                        <li class=""><a href="/about.html">Компания</a></li>
                        <li><a href="/price.html">Услуги и цены</a></li>
                        <li><a href="/review.html">Отзывы</a></li>
                        <li><a href="/contacts.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="header__section-menu">
                    <ul class="section-menu__list row">
                        <li class="columns six"><a href="/recruitment.html">Подбор персонала</a></li>
                        <li class="columns six"><a href="/candidate.html">Соискателям</a></li>
                    </ul>
                </div>
            </div>
            <div class="header__contacts columns">
                <div class="header__phone">(499) 110-54-55</div>
                <div class="header__call">
                    <a href="#callback-form" class="btn open-popup-link">Заказать звонок</a>
                </div>
                <div class="header__call--mobile">
                    <a href="#callback-form" class="btn open-popup-link"></a>
                </div>
                <div class="header__search--mobile">
                    <a href="#" class="btn toogle-search"></a>
                </div>
            </div>
        </div>
    </div>
</div>