// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$adv-1-name: 'adv-1';
$adv-1-x: 136px;
$adv-1-y: 0px;
$adv-1-offset-x: -136px;
$adv-1-offset-y: 0px;
$adv-1-width: 44px;
$adv-1-height: 50px;
$adv-1-total-width: 239px;
$adv-1-total-height: 205px;
$adv-1-image: '/assets/template/css/sprites/sprite.png';
$adv-1: (136px, 0px, -136px, 0px, 44px, 50px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'adv-1', );
$adv-2-name: 'adv-2';
$adv-2-x: 136px;
$adv-2-y: 50px;
$adv-2-offset-x: -136px;
$adv-2-offset-y: -50px;
$adv-2-width: 44px;
$adv-2-height: 44px;
$adv-2-total-width: 239px;
$adv-2-total-height: 205px;
$adv-2-image: '/assets/template/css/sprites/sprite.png';
$adv-2: (136px, 50px, -136px, -50px, 44px, 44px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'adv-2', );
$adv-3-name: 'adv-3';
$adv-3-x: 0px;
$adv-3-y: 127px;
$adv-3-offset-x: 0px;
$adv-3-offset-y: -127px;
$adv-3-width: 34px;
$adv-3-height: 52px;
$adv-3-total-width: 239px;
$adv-3-total-height: 205px;
$adv-3-image: '/assets/template/css/sprites/sprite.png';
$adv-3: (0px, 127px, 0px, -127px, 34px, 52px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'adv-3', );
$advantages-icon-name: 'advantages-icon';
$advantages-icon-x: 71px;
$advantages-icon-y: 59px;
$advantages-icon-offset-x: -71px;
$advantages-icon-offset-y: -59px;
$advantages-icon-width: 53px;
$advantages-icon-height: 55px;
$advantages-icon-total-width: 239px;
$advantages-icon-total-height: 205px;
$advantages-icon-image: '/assets/template/css/sprites/sprite.png';
$advantages-icon: (71px, 59px, -71px, -59px, 53px, 55px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'advantages-icon', );
$arrow-down-red-name: 'arrow-down-red';
$arrow-down-red-x: 218px;
$arrow-down-red-y: 117px;
$arrow-down-red-offset-x: -218px;
$arrow-down-red-offset-y: -117px;
$arrow-down-red-width: 15px;
$arrow-down-red-height: 15px;
$arrow-down-red-total-width: 239px;
$arrow-down-red-total-height: 205px;
$arrow-down-red-image: '/assets/template/css/sprites/sprite.png';
$arrow-down-red: (218px, 117px, -218px, -117px, 15px, 15px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'arrow-down-red', );
$arrow-left-active-name: 'arrow-left-active';
$arrow-left-active-x: 110px;
$arrow-left-active-y: 127px;
$arrow-left-active-offset-x: -110px;
$arrow-left-active-offset-y: -127px;
$arrow-left-active-width: 38px;
$arrow-left-active-height: 38px;
$arrow-left-active-total-width: 239px;
$arrow-left-active-total-height: 205px;
$arrow-left-active-image: '/assets/template/css/sprites/sprite.png';
$arrow-left-active: (110px, 127px, -110px, -127px, 38px, 38px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'arrow-left-active', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 72px;
$arrow-left-y: 127px;
$arrow-left-offset-x: -72px;
$arrow-left-offset-y: -127px;
$arrow-left-width: 38px;
$arrow-left-height: 38px;
$arrow-left-total-width: 239px;
$arrow-left-total-height: 205px;
$arrow-left-image: '/assets/template/css/sprites/sprite.png';
$arrow-left: (72px, 127px, -72px, -127px, 38px, 38px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'arrow-left', );
$arrow-right-active-name: 'arrow-right-active';
$arrow-right-active-x: 180px;
$arrow-right-active-y: 0px;
$arrow-right-active-offset-x: -180px;
$arrow-right-active-offset-y: 0px;
$arrow-right-active-width: 38px;
$arrow-right-active-height: 38px;
$arrow-right-active-total-width: 239px;
$arrow-right-active-total-height: 205px;
$arrow-right-active-image: '/assets/template/css/sprites/sprite.png';
$arrow-right-active: (180px, 0px, -180px, 0px, 38px, 38px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'arrow-right-active', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 34px;
$arrow-right-y: 127px;
$arrow-right-offset-x: -34px;
$arrow-right-offset-y: -127px;
$arrow-right-width: 38px;
$arrow-right-height: 38px;
$arrow-right-total-width: 239px;
$arrow-right-total-height: 205px;
$arrow-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-right: (34px, 127px, -34px, -127px, 38px, 38px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'arrow-right', );
$arrow-up-red-name: 'arrow-up-red';
$arrow-up-red-x: 218px;
$arrow-up-red-y: 147px;
$arrow-up-red-offset-x: -218px;
$arrow-up-red-offset-y: -147px;
$arrow-up-red-width: 15px;
$arrow-up-red-height: 15px;
$arrow-up-red-total-width: 239px;
$arrow-up-red-total-height: 205px;
$arrow-up-red-image: '/assets/template/css/sprites/sprite.png';
$arrow-up-red: (218px, 147px, -218px, -147px, 15px, 15px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'arrow-up-red', );
$check-name: 'check';
$check-x: 180px;
$check-y: 38px;
$check-offset-x: -180px;
$check-offset-y: -38px;
$check-width: 37px;
$check-height: 37px;
$check-total-width: 239px;
$check-total-height: 205px;
$check-image: '/assets/template/css/sprites/sprite.png';
$check: (180px, 38px, -180px, -38px, 37px, 37px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'check', );
$clock-name: 'clock';
$clock-x: 218px;
$clock-y: 0px;
$clock-offset-x: -218px;
$clock-offset-y: 0px;
$clock-width: 21px;
$clock-height: 21px;
$clock-total-width: 239px;
$clock-total-height: 205px;
$clock-image: '/assets/template/css/sprites/sprite.png';
$clock: (218px, 0px, -218px, 0px, 21px, 21px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'clock', );
$close-green-name: 'close-green';
$close-green-x: 180px;
$close-green-y: 75px;
$close-green-offset-x: -180px;
$close-green-offset-y: -75px;
$close-green-width: 28px;
$close-green-height: 28px;
$close-green-total-width: 239px;
$close-green-total-height: 205px;
$close-green-image: '/assets/template/css/sprites/sprite.png';
$close-green: (180px, 75px, -180px, -75px, 28px, 28px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'close-green', );
$doc-name: 'doc';
$doc-x: 0px;
$doc-y: 179px;
$doc-offset-x: 0px;
$doc-offset-y: -179px;
$doc-width: 23px;
$doc-height: 26px;
$doc-total-width: 239px;
$doc-total-height: 205px;
$doc-image: '/assets/template/css/sprites/sprite.png';
$doc: (0px, 179px, 0px, -179px, 23px, 26px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'doc', );
$leaf-name: 'leaf';
$leaf-x: 218px;
$leaf-y: 62px;
$leaf-offset-x: -218px;
$leaf-offset-y: -62px;
$leaf-width: 16px;
$leaf-height: 19px;
$leaf-total-width: 239px;
$leaf-total-height: 205px;
$leaf-image: '/assets/template/css/sprites/sprite.png';
$leaf: (218px, 62px, -218px, -62px, 16px, 19px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'leaf', );
$lock-name: 'lock';
$lock-x: 218px;
$lock-y: 162px;
$lock-offset-x: -218px;
$lock-offset-y: -162px;
$lock-width: 10px;
$lock-height: 13px;
$lock-total-width: 239px;
$lock-total-height: 205px;
$lock-image: '/assets/template/css/sprites/sprite.png';
$lock: (218px, 162px, -218px, -162px, 10px, 13px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'lock', );
$next-name: 'next';
$next-x: 180px;
$next-y: 103px;
$next-offset-x: -180px;
$next-offset-y: -103px;
$next-width: 24px;
$next-height: 32px;
$next-total-width: 239px;
$next-total-height: 205px;
$next-image: '/assets/template/css/sprites/sprite.png';
$next: (180px, 103px, -180px, -103px, 24px, 32px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'next', );
$period-1-name: 'period-1';
$period-1-x: 0px;
$period-1-y: 0px;
$period-1-offset-x: 0px;
$period-1-offset-y: 0px;
$period-1-width: 71px;
$period-1-height: 63px;
$period-1-total-width: 239px;
$period-1-total-height: 205px;
$period-1-image: '/assets/template/css/sprites/sprite.png';
$period-1: (0px, 0px, 0px, 0px, 71px, 63px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'period-1', );
$period-2-name: 'period-2';
$period-2-x: 71px;
$period-2-y: 0px;
$period-2-offset-x: -71px;
$period-2-offset-y: 0px;
$period-2-width: 65px;
$period-2-height: 59px;
$period-2-total-width: 239px;
$period-2-total-height: 205px;
$period-2-image: '/assets/template/css/sprites/sprite.png';
$period-2: (71px, 0px, -71px, 0px, 65px, 59px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'period-2', );
$period-3-name: 'period-3';
$period-3-x: 0px;
$period-3-y: 63px;
$period-3-offset-x: 0px;
$period-3-offset-y: -63px;
$period-3-width: 60px;
$period-3-height: 64px;
$period-3-total-width: 239px;
$period-3-total-height: 205px;
$period-3-image: '/assets/template/css/sprites/sprite.png';
$period-3: (0px, 63px, 0px, -63px, 60px, 64px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'period-3', );
$phone-white-name: 'phone-white';
$phone-white-x: 218px;
$phone-white-y: 81px;
$phone-white-offset-x: -218px;
$phone-white-offset-y: -81px;
$phone-white-width: 16px;
$phone-white-height: 16px;
$phone-white-total-width: 239px;
$phone-white-total-height: 205px;
$phone-white-image: '/assets/template/css/sprites/sprite.png';
$phone-white: (218px, 81px, -218px, -81px, 16px, 16px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'phone-white', );
$print-white-name: 'print-white';
$print-white-x: 148px;
$print-white-y: 127px;
$print-white-offset-x: -148px;
$print-white-offset-y: -127px;
$print-white-width: 23px;
$print-white-height: 26px;
$print-white-total-width: 239px;
$print-white-total-height: 205px;
$print-white-image: '/assets/template/css/sprites/sprite.png';
$print-white: (148px, 127px, -148px, -127px, 23px, 26px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'print-white', );
$regard-name: 'regard';
$regard-x: 180px;
$regard-y: 135px;
$regard-offset-x: -180px;
$regard-offset-y: -135px;
$regard-width: 27px;
$regard-height: 25px;
$regard-total-width: 239px;
$regard-total-height: 205px;
$regard-image: '/assets/template/css/sprites/sprite.png';
$regard: (180px, 135px, -180px, -135px, 27px, 25px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'regard', );
$rub-name: 'rub';
$rub-x: 218px;
$rub-y: 41px;
$rub-offset-x: -218px;
$rub-offset-y: -41px;
$rub-width: 16px;
$rub-height: 21px;
$rub-total-width: 239px;
$rub-total-height: 205px;
$rub-image: '/assets/template/css/sprites/sprite.png';
$rub: (218px, 41px, -218px, -41px, 16px, 21px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'rub', );
$search-white-name: 'search-white';
$search-white-x: 218px;
$search-white-y: 132px;
$search-white-offset-x: -218px;
$search-white-offset-y: -132px;
$search-white-width: 15px;
$search-white-height: 15px;
$search-white-total-width: 239px;
$search-white-total-height: 205px;
$search-white-image: '/assets/template/css/sprites/sprite.png';
$search-white: (218px, 132px, -218px, -132px, 15px, 15px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'search-white', );
$social-instagram-name: 'social__instagram';
$social-instagram-x: 218px;
$social-instagram-y: 21px;
$social-instagram-offset-x: -218px;
$social-instagram-offset-y: -21px;
$social-instagram-width: 17px;
$social-instagram-height: 20px;
$social-instagram-total-width: 239px;
$social-instagram-total-height: 205px;
$social-instagram-image: '/assets/template/css/sprites/sprite.png';
$social-instagram: (218px, 21px, -218px, -21px, 17px, 20px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'social__instagram', );
$social-ok-name: 'social__ok';
$social-ok-x: 218px;
$social-ok-y: 97px;
$social-ok-offset-x: -218px;
$social-ok-offset-y: -97px;
$social-ok-width: 12px;
$social-ok-height: 20px;
$social-ok-total-width: 239px;
$social-ok-total-height: 205px;
$social-ok-image: '/assets/template/css/sprites/sprite.png';
$social-ok: (218px, 97px, -218px, -97px, 12px, 20px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'social__ok', );
$social-vk-name: 'social__vk';
$social-vk-x: 23px;
$social-vk-y: 179px;
$social-vk-offset-x: -23px;
$social-vk-offset-y: -179px;
$social-vk-width: 25px;
$social-vk-height: 20px;
$social-vk-total-width: 239px;
$social-vk-total-height: 205px;
$social-vk-image: '/assets/template/css/sprites/sprite.png';
$social-vk: (23px, 179px, -23px, -179px, 25px, 20px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'social__vk', );
$watermark-small-name: 'watermark-small';
$watermark-small-x: 136px;
$watermark-small-y: 94px;
$watermark-small-offset-x: -136px;
$watermark-small-offset-y: -94px;
$watermark-small-width: 41px;
$watermark-small-height: 23px;
$watermark-small-total-width: 239px;
$watermark-small-total-height: 205px;
$watermark-small-image: '/assets/template/css/sprites/sprite.png';
$watermark-small: (136px, 94px, -136px, -94px, 41px, 23px, 239px, 205px, '/assets/template/css/sprites/sprite.png', 'watermark-small', );
$spritesheet-width: 239px;
$spritesheet-height: 205px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($adv-1, $adv-2, $adv-3, $advantages-icon, $arrow-down-red, $arrow-left-active, $arrow-left, $arrow-right-active, $arrow-right, $arrow-up-red, $check, $clock, $close-green, $doc, $leaf, $lock, $next, $period-1, $period-2, $period-3, $phone-white, $print-white, $regard, $rub, $search-white, $social-instagram, $social-ok, $social-vk, $watermark-small, );
$spritesheet: (239px, 205px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
