//= include/header.html
<script>
    document.title = 'О компании';
    document.body.classList.add("arrow");
</script>

<div class="section-title-crumbs">
    <div class="section-title" style="background-image: url('/assets/template/img-ann/section-title__news.jpg')">
        <div class="section-title__inner">Компания Дело в штате</div>
    </div>
    <div class="crumbs">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">О компании</li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="d-table">
            <div class="about__left">
                <img src="/assets/template/img/tmp/dir.jpg" alt="" class="about__photo">
                <div class="about__text stext">
                    <p class="about__staff">Генеральный директор</p>
                    <p class="about__name">Елизавета</p>
                    <p>Наши цены на 20-30% дешевле рынка, при этом в нашем штате работают профессиональные рекрутёры, с опытом работы в федеральных компаниях.Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.  Наши цены на 20-30% дешевле рынка, при этом в нашем штате работают профессиональные рекрутёры, с опытом работы в федеральных компаниях.</p>
                    <p>Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.</p>
                    <p>Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.  Наши цены на 20-30% дешевле рынка, при этом в нашем штате работают профессиональные рекрутёры, с опытом работы в федеральных компаниях.</p>
                    <p>Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.  Наши цены на 20-30% дешевле рынка, при этом в нашем штате работают профессиональные рекрутёры, с опытом работы в федеральных компаниях.</p>
                    <p>Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.</p>

                    <h2>Главные принципы компании</h2>
                    <p>Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.  Наши цены на 20-30% дешевле рынка, при этом в нашем штате работают профессиональные рекрутёры, с опытом работы в федеральных компаниях.</p>
                    <p>Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.  Наши цены на 20-30% дешевле рынка, при этом в нашем штате работают профессиональные рекрутёры, с опытом работы в федеральных компаниях.Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.  Наши цены на 20-30% дешевле рынка, при этом в нашем штате работают профессиональные рекрутёры, с опытом работы в федеральных компаниях.</p>
                </div>
            </div>
            <div class="about__right">
                <div class="about__square__list row">
                    <div class="columns about__square" style="background-image: url('/assets/template/img/about__square-1.jpg')">
                        <span>
                            У многих из нас большой опыт работы в качестве
                            HR-управленцев в крупных федеральных компаниях
                        </span>
                    </div>
                    <div class="columns about__square gray" style="background-image: url('/assets/template/img/about__square-2.jpg')">
                        <span>
                            Решаем самые сложные задачи в области подбора персонала
                        </span>
                    </div>
                    <div class="columns about__square gray" style="background-image: url('/assets/template/img/about__square-3.jpg')">
                        <span>
                           Постоянно поддерживаем актуальность большой базы, поэтому ищем быстро и эффективно
                        </span>
                    </div>
                    <div class="columns about__square" style="background-image: url('/assets/template/img/about__square-4.jpg')">
                        <span>
                            Налаженная система подбора и оценки специалистов
                        </span>
                    </div>
                    <div class="columns about__square" style="background-image: url('/assets/template/img/about__square-1.jpg')">
                        <span>
                           Постоянно поддерживаем актуальность большой базы, поэтому ищем быстро и эффективно
                        </span>
                    </div>
                    <div class="columns about__square gray" style="background-image: url('/assets/template/img/about__square-2.jpg')">
                        <span>
                            Налаженная система подбора и оценки специалистов
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

//= include/footer.html