//= include/header.html
<script>
    document.title = 'Банковский сектор';
</script>

<div class="section-title" style="background-image: url('/assets/template/img/section-title__bank.jpg')">
    <div class="section-title__inner">Банковский сектор</div>
</div>
<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Подбор персонала</a></li>
            <li class="active">Банковский сектор</li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="service__info columns">
                <p>Сюда можно разместить небольшой текст о специфике подбора кадров в банковской сфере.Сюда можно разместить небольшой текст о специфике подбора кадров в банковской сфере.
                <p>Сюда можно разместить небольшой текст о специфике подбора кадров в банковской сфере.Сюда можно разместить небольшой текст о специфике подбора кадров в банковской сфере.Сюда можно разместить небольшой текст о специфике подбора кадров в банковской сфере.Сюда можно разместить небольшой текст о специфике подбора кадров в банковской сфере.</p>
                <div class="service-offer row">
                    <div class="service-offer__item service-offer__price">
                        <div class="service-offer__inner">
                            <div class="service-offer__name">Стоимость услуги:</div>
                            <div class="service-offer__value">от 20 000 руб.</div>
                            <div class="service-offer__hint">за специалиста</div>
                        </div>
                    </div>
                    <div class="service-offer__item service-offer__time">
                        <div class="service-offer__inner">
                            <div class="service-offer__name">Срок выполнения заявки:</div>
                            <div class="service-offer__value">от 3 раб.дн.</div>
                        </div>
                    </div>
                </div>
                <p>Сюда можно разместить небольшой текст о специфике подбора кадров в банковской сфере.Сюда можно разместить небольшой текст о специфике подбора кадров в банковской сфере.</p>
                <p>Сюда можно разместить небольшой текст о специфике подбора кадров в банковской сфере.Сюда можно разместить небольшой текст о специфике подбора кадров в банковской сфере.Сюда можно разместить небольшой текст о специфике подбора кадров в банковской сфере.Сюда можно разместить небольшой текст о специфике подбора кадров в банковской сфере.</p>
            </div>

            <div class="service__right columns">

                <div class="service-forma row">
                        <div class="service-forma__info">
                            <div class="service-forma__header">Оставьте заявку на подбор специалиста</div>
                            <div class="service-forma__hint">мы пришлем вам нескольких кандидатов на выбор</div>
                        </div>
                        <form action="" method="post">
                            <div class="service-forma__form row">
                                <div class="columns service-forma__item">
                                    <input type="text" name="name" placeholder="Контактное лицо*">
                                </div>
                                <div class="columns service-forma__item">
                                    <input type="text" name="phone" placeholder="+7 (___) __-__-__">
                                </div>
                                <div class="columns service-forma__item">
                                    <input type="text" name="email" placeholder="E-mail*">
                                </div>
                                <div class="columns service-forma__item">
                                    <input type="text" name="vacancy" placeholder="Название вакаснии">
                                </div>
                                <div class="columns service-forma__item service-forma__item--width">
                                    <textarea name="comment" placeholder="Оставьте ваш комментарий"></textarea>
                                </div>
                                <div class="columns service-forma__item">
                                    <div class="service-forma__file">
                                        <input type="file" id="service-file">
                                        <label for="service-file">
                                            <span class="anketa">Анкета на подбор</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="columns service-forma__item service-forma__button">
                                    <button type="submit" class="btn">Найти специалиста</button>
                                </div>
                                <div class="columns service-forma__agree">
                                    <label>
                                        <input class="checkbox" name="checkbox-test" type="checkbox">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">выражаю согласие на обработку персональных данных (политика конфиденциальности)</span>
                                    </label>
                                </div>
                            </div>
                        </form>

                </div>


            </div>
        </div>

        <div class="row">
            <div class="stext">

            </div>
        </div>

    </div>
</div>

//= include/footer.html