//= include/header.html

<div class="section-title" style="background-image: url('/assets/template/img-ann/section-title__candidate.jpg')">
    <div class="section-title__inner">Соискателям</div>
</div>
<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="#">Услуги</a></li>
            <li class="active">Соискателям</li>
        </ul>
    </div>
</div>


<div class="content">
    <div class="container">

        <div class="stext">
            <p>Сюда можно разместить небольшой текст вступительного характера об услугах для соискателей.Сюда можно разместить небольшой текст вступительного характера об услугах для соискателей. Сюда можно разместить небольшой текст вступительного характера об услугах для соискателей. Сюда можно разместить небольшой текст вступительного характера об услугах для соискателей.</p>
            <p>Сюда можно разместить небольшой текст вступительного характера об услугах для соискателей. Сюда можно разместить небольшой текст вступительного характера об услугах для соискателей. Сюда можно разместить небольшой текст вступительного характера об услугах для соискателей.</p>
        </div>

        <div class="row p-industry__list">

                <div class="industry__item  columns" style="background-image: url('/assets/template/img-ann/candidate__search.jpg')">
                    <div class="industry__info">
                        <div class="industry__caption"><span>Поиск работы</span></div>
                        <div class="industry__text">Сюда можно написать несколько слов об особенностях подбора кадров в данной сфере. Показать, что компания имеет опыт в ней</div>
                        <div class="row">
                            <div class="industry__sum columns six">бесплатно</div>
                            <div class="industry__time columns six">от 3 раб.дн.</div>
                        </div>
                        <a href="#" class="industry__btn"><span>Подробнее</span></a>
                    </div>
                </div>
                <div class="industry__item columns" style="background-image: url('/assets/template/img-ann/candidate__resume.jpg')">
                    <div class="industry__info">
                        <div class="industry__caption"><span>Помощь в составлении резюме</span></div>
                        <div class="industry__text">Сюда можно написать несколько слов об особенностях подбора кадров в данной сфере. Показать, что компания имеет опыт в ней</div>
                        <div class="row">
                            <div class="industry__sum columns six">от 20 000</div>
                            <div class="industry__time columns six">от 3 раб.дн.</div>
                        </div>
                        <a href="#" class="industry__btn"><span>Подробнее</span></a>
                    </div>
                </div>
        </div>

    </div>
</div>


//= include/footer.html