//= include/header.html

<script>
    document.title = 'Контакты';
</script>

<div class="section-title-crumbs">
    <div class="section-title" style="background-image: url('/assets/template/img/tmp/section-title__contacts.jpg')">
        <div class="section-title__inner">Контакты</div>
    </div>
    <div class="crumbs">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Контакты</li>
            </ul>
        </div>
    </div>
</div>


<div class="content">
    <div class="container">
        <div class="contacts__list row">
            <div class="contact__info columns">
                <div class="contact__item">
                    <div class="contact__caption contact__caption--location"> Москва</div>
                    <div class="contact__value">Рязанский проспект, д. 32, к3, офис 307 </div>
                </div>
                <div class="contact__item">
                    <div class="contact__caption contact__caption--time">Режим работы:</div>
                    <div class="contact__value">пн.-пт.: 9.00-18.00</div>
                </div>
                <div class="contact__item">
                    <div class="contact__caption contact__caption--phone">Телефон:</div>
                    <div class="contact__value"> (499) 110-54-55</div>
                </div>
            </div>
            <div class="contact__map columns">
                <div class="contact__image">
                    <iframe src="https://yandex.ru/map-widget/v1/-/CBaM5QDJ2D" width="100%" height="560" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


//= include/footer.html