//= include/header.html

<!--
.container
    .row
        .columns
-->

<div class="section-title" style="background-image: url('/assets/template/img-ann/section-title__contact.jpg')">
    <div class="section-title__inner">Контакты</div>
</div>
<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Контакты</li>
        </ul>
    </div>
</div>


<div class="content">
    <div class="container">
        <div class="contacts__list">
            <div class="contact__info">
                <div class="contact__item">
                    <div class="contact__caption--location"> Москва</div>
                    <div class="contact__value">Рязанский проспект, д. 32, к3, офис 307 </div>
                </div>
                <div class="contact__item">
                    <div class="contact__caption--time">Режим работы:</div>
                    <div class="contact__value">пн.-пт.: 9.00-18.00</div>
                </div>
                <div class="contact__item">
                    <div class="contact__caption--phone">Телефон:</div>
                    <div class="contact__value"> (499) 110-54-55</div>
                </div>
            </div>
            <div class="contact__map">
                <div class="contact__image">
                    <img src="/assets/template/img-ann/map.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


//= include/footer.html