//= include/header.html
<script>
    document.title = 'Поиск работы';
</script>
<div class="section-title-crumbs">
    <div class="section-title" style="background-image: url('/assets/template/img/tmp/hunting__bg-1.jpg')">
        <div class="section-title__inner">Поиск работы</div>
    </div>
    <div class="crumbs">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li><a href="#">Соискателям</a></li>
                <li class="active">Поиск работы</li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="service__info columns">
                <p>Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.</p>
                <p>Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.</p>
                <p>Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.</p>
                <p>Сюда можно разместить небольшой текст о том, как компания может помочь соискателям.</p>
            </div>

            <div class="service__right columns">

                <div class="service-forma row">
                    <div class="service-forma__info">
                        <div class="service-forma__header">Пришлите ваше резюме</div>
                        <div class="service-forma__hint">мы подберем для вас подходящие вакансии</div>
                    </div>
                    <form action="" method="post">
                        <div class="service-forma__form row">
                            <div class="columns service-forma__item">
                                <input type="text" name="name" placeholder="Контактное лицо*">
                            </div>
                            <div class="columns service-forma__item">
                                <input type="text" name="phone" placeholder="+7 (___) __-__-__">
                            </div>
                            <div class="columns service-forma__item">
                                <input type="text" name="email" placeholder="E-mail*">
                            </div>
                            <div class="columns service-forma__item">
                                <input type="text" name="vacancy" placeholder="Должность">
                            </div>
                            <div class="columns service-forma__item">
                                <div class="service-forma__file">
                                    <input type="file" id="service-file">
                                    <label for="service-file">
                                        <span class="anketa">Прикрепить резюме</span>
                                    </label>
                                </div>
                            </div>
                            <div class="columns service-forma__item service-forma__button">
                                <button type="submit" class="btn">Найти специалиста</button>
                            </div>
                            <div class="columns service-forma__agree">
                                <label>
                                    <input class="checkbox" name="checkbox-test" type="checkbox">
                                    <span class="checkbox-custom"></span>
                                    <span class="label">выражаю согласие на обработку персональных данных (политика конфиденциальности)</span>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>

        <div class="row">
            <div class="stext">

            </div>
        </div>

    </div>
</div>

//= include/footer.html