//= include/header.html


<p>1Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic neque, quibusdam reiciendis rem, ipsum aliquid repellendus fugiat illum temporibus expedita itaque doloribus dolores placeat vitae ad asperiores fugit ipsam et!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic neque, quibusdam reiciendis rem, ipsum aliquid repellendus fugiat illum temporibus expedita itaque doloribus dolores placeat vitae ad asperiores fugit ipsam et!</p>
<p class="zk">Женька привет</p>

//= include/footer.html