//= include/header.html

<div class="uk-container">

<div class="uk-grid-match uk-grid-small uk-text-center uk-grid" uk-grid>
    <div class="uk-width-1-2@m" style="background-color: red">
        <div class="">1-2@m</div>
    </div>
    <div class="uk-width-1-4@m"  style="background-color: green">
        <div class="">1-4@m</div>
    </div>
    <div class="uk-width-1-4@m"  style="background-color: blue">
        <div class="">1-4@m</div>
    </div>
    <div class="uk-width-1-5@m uk-hidden@l">
        <div class="uk-card uk-card-secondary uk-card-body">1-5@m<br>hidden@l</div>
    </div>
    <div class="uk-width-1-5@m uk-width-1-3@l">
        <div class="uk-card uk-card-default uk-card-body">1-5@m<br>1-3@l</div>
    </div>
    <div class="uk-width-3-5@m uk-width-2-3@l">
        <div class="uk-card uk-card-default uk-card-body">3-5@m<br>2-3@l</div>
    </div>
</div>

<div class="uk-grid-match uk-grid-small uk-text-center" uk-grid>
    <div class="uk-width-auto@m uk-visible@l">
        <div class="uk-card uk-card-primary uk-card-body">auto@m<br>visible@l</div>
    </div>
    <div class="uk-width-1-3@m">
        <div class="uk-card uk-card-default uk-card-body">1-3@m</div>
    </div>
    <div class="uk-width-expand@m">
        <div class="uk-card uk-card-default uk-card-body">expand@m</div>
    </div>
</div>

</div>

<p>1Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic neque, quibusdam reiciendis rem, ipsum aliquid repellendus fugiat illum temporibus expedita itaque doloribus dolores placeat vitae ad asperiores fugit ipsam et!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic neque, quibusdam reiciendis rem, ipsum aliquid repellendus fugiat illum temporibus expedita itaque doloribus dolores placeat vitae ad asperiores fugit ipsam et!</p>
<p class="zk">Женька привет</p>

//= include/footer.html