//= include/header.html

<!--
.container
    .row
        .columns
-->
<div class="section-title-crumbs">
    <div class="section-title" style="background-image: url('/assets/template/img-ann/section-title__news.jpg')">
        <div class="section-title__inner">Новости компании и отрасли</div>
    </div>
    <div class="crumbs">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Новости</li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="p-news__list">

            <div class="p-news__item row">
                <div class="p-news__image columns">
                    <img src="/assets/template/img/tmp/news-2.jpg" alt="">
                </div>
                <div class="p-news__info columns">
                    <div class="p-news__date">12.10.17</div>
                    <div class="p-news__caption">Мы расширили штат HR-специалистов</div>
                    <div class="p-news__anons">
                        <img src="/assets/template/img/tmp/news-2.jpg" alt="" class="p-news__image-anons">
                        <p>В  обширную группу ситуативно-аналитических жанров публицистики входят: комментарий, корреспонденция, статья. У них общее назначение: анализ ситуаций, возникающих и развивающихся в различных сферах жизни общества. Эти ситуации различаются не только своим характером (политическая, экономическая, военная или психологическая), но и своим масштабом, они могут быть связаны с обширным или ограниченным регионом, затрагивать</p>
                        <p>Жизнь крупных общественных групп или даже частную жизнь граждан. Каждая из них охватывает комплекс различных фактов, воздействующих друг на друга, изменяющих ситуацию и способствующих возникновению различных актуальных проблем – вопросов, требующих скорейшего разрешения. Ситуация и связанная с нею проблема составляют специфический предмет отображения в этих жанрах. Важнейшим выразительным</p>
                    </div>
                </div>
            </div>

            <div class="p-news__item row">
                <div class="p-news__image columns">
                    <img src="/assets/template/img/tmp/news-1.jpg" alt="">
                </div>
                <div class="p-news__info columns">
                    <div class="p-news__date">11.10.17</div>
                    <div class="p-news__caption">Новость об изменении в трудовом кодексе</div>
                    <div class="p-news__anons">
                        <img src="/assets/template/img/tmp/news-1.jpg" alt="" class="p-news__image-anons">
                        <p>В  обширную группу ситуативно-аналитических жанров публицистики входят: комментарий, корреспонденция, статья. У них общее назначение: анализ ситуаций, возникающих и развивающихся в различных сферах жизни общества. Эти ситуации различаются не только своим характером (политическая, экономическая, военная или психологическая), но и своим масштабом, они могут быть связаны с обширным или ограниченным регионом, затрагивать</p>
                        <p>Жизнь крупных общественных групп или даже частную жизнь граждан. Каждая из них охватывает комплекс различных фактов, воздействующих друг на друга, изменяющих ситуацию и способствующих возникновению различных актуальных проблем – вопросов, требующих скорейшего разрешения. Ситуация и связанная с нею проблема составляют специфический предмет отображения в этих жанрах. Важнейшим выразительным</p>
                    </div>
                </div>
            </div>

            <div class="p-news__item row">
                <div class="p-news__image columns">
                    <img src="/assets/template/img/tmp/news-3.jpg" alt="">
                </div>
                <div class="p-news__info columns">
                    <div class="p-news__date">10.10.17</div>
                    <div class="p-news__caption">График работы на майские праздники 2017г</div>
                    <div class="p-news__anons">
                        <img src="/assets/template/img/tmp/news-3.jpg" alt="" class="p-news__image-anons">
                        <p>В  обширную группу ситуативно-аналитических жанров публицистики входят: комментарий, корреспонденция, статья. У них общее назначение: анализ ситуаций, возникающих и развивающихся в различных сферах жизни общества. Эти ситуации различаются не только своим характером (политическая, экономическая, военная или психологическая), но и своим масштабом, они могут быть связаны с обширным или ограниченным регионом, затрагивать</p>
                        <p>Жизнь крупных общественных групп или даже частную жизнь граждан. Каждая из них охватывает комплекс различных фактов, воздействующих друг на друга, изменяющих ситуацию и способствующих возникновению различных актуальных проблем – вопросов, требующих скорейшего разрешения. Ситуация и связанная с нею проблема составляют специфический предмет отображения в этих жанрах. Важнейшим выразительным</p>
                    </div>
                </div>
            </div>
            <div class="p-news__item row">
                <div class="p-news__image columns">
                    <img src="/assets/template/img/tmp/news-2.jpg" alt="">
                </div>
                <div class="p-news__info columns">
                    <div class="p-news__date">09.10.17</div>
                    <div class="p-news__caption">Мы расширили штат HR-специалистов</div>
                    <div class="p-news__anons">
                        <img src="/assets/template/img/tmp/news-2.jpg" alt="" class="p-news__image-anons">
                        <p>В  обширную группу ситуативно-аналитических жанров публицистики входят: комментарий, корреспонденция, статья. У них общее назначение: анализ ситуаций, возникающих и развивающихся в различных сферах жизни общества. Эти ситуации различаются не только своим характером (политическая, экономическая, военная или психологическая), но и своим масштабом, они могут быть связаны с обширным или ограниченным регионом, затрагивать</p>
                        <p>Жизнь крупных общественных групп или даже частную жизнь граждан. Каждая из них охватывает комплекс различных фактов, воздействующих друг на друга, изменяющих ситуацию и способствующих возникновению различных актуальных проблем – вопросов, требующих скорейшего разрешения. Ситуация и связанная с нею проблема составляют специфический предмет отображения в этих жанрах. Важнейшим выразительным</p>
                    </div>
                </div>
            </div>

            <div class="p-news__item row">
                <div class="p-news__image columns">
                    <img src="/assets/template/img/tmp/news-1.jpg" alt="">
                </div>
                <div class="p-news__info columns">
                    <div class="p-news__date">08.10.17</div>
                    <div class="p-news__caption">Новость об изменении в трудовом кодексе</div>
                    <div class="p-news__anons">
                        <img src="/assets/template/img/tmp/news-1.jpg" alt="" class="p-news__image-anons">
                        <p>В  обширную группу ситуативно-аналитических жанров публицистики входят: комментарий, корреспонденция, статья. У них общее назначение: анализ ситуаций, возникающих и развивающихся в различных сферах жизни общества. Эти ситуации различаются не только своим характером (политическая, экономическая, военная или психологическая), но и своим масштабом, они могут быть связаны с обширным или ограниченным регионом, затрагивать</p>
                        <p>Жизнь крупных общественных групп или даже частную жизнь граждан. Каждая из них охватывает комплекс различных фактов, воздействующих друг на друга, изменяющих ситуацию и способствующих возникновению различных актуальных проблем – вопросов, требующих скорейшего разрешения. Ситуация и связанная с нею проблема составляют специфический предмет отображения в этих жанрах. Важнейшим выразительным</p>
                    </div>
                </div>
            </div>

            <div class="p-news__item row">
                <div class="p-news__image columns">
                    <img src="/assets/template/img/tmp/news-3.jpg" alt="">
                </div>
                <div class="p-news__info columns">
                    <div class="p-news__date">07.10.17</div>
                    <div class="p-news__caption">График работы на майские праздники 2017г</div>
                    <div class="p-news__anons">
                        <img src="/assets/template/img/tmp/news-3.jpg" alt="" class="p-news__image-anons">
                        <p>В  обширную группу ситуативно-аналитических жанров публицистики входят: комментарий, корреспонденция, статья. У них общее назначение: анализ ситуаций, возникающих и развивающихся в различных сферах жизни общества. Эти ситуации различаются не только своим характером (политическая, экономическая, военная или психологическая), но и своим масштабом, они могут быть связаны с обширным или ограниченным регионом, затрагивать</p>
                        <p>Жизнь крупных общественных групп или даже частную жизнь граждан. Каждая из них охватывает комплекс различных фактов, воздействующих друг на друга, изменяющих ситуацию и способствующих возникновению различных актуальных проблем – вопросов, требующих скорейшего разрешения. Ситуация и связанная с нею проблема составляют специфический предмет отображения в этих жанрах. Важнейшим выразительным</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


//= include/footer.html