//= include/header.html

<!--
.container
    .row
        .columns
-->

<div class="section-title" style="background-image: url('/assets/template/img-ann/section-title__bank.jpg')">
    <div class="section-title__inner">Банковский сектор</div>
</div>
<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Подбор персонала</a></li>
            <li class="active">Банковский сектор</li>
        </ul>
    </div>
</div>


<div class="content">
    <div class="container">
        <div class="p-news__list">

            <div class="p-news__item row">
                <div class="p-news__image columns" style="background-image: url('/assets/template/img/tmp/news-1.jpg')"></div>
                <div class="p-news__info columns">
                    <div class="p-news__date">12.10.17</div>
                    <div class="p-news__caption">Мы расширили штат HR-специалистов</div>
                    <div class="p-news__anons">
                        <p>В  обширную группу ситуативно-аналитических жанров публицистики входят: комментарий, корреспонденция, статья. У них общее назначение: анализ ситуаций, возникающих и развивающихся в различных сферах жизни общества. Эти ситуации различаются не только своим характером (политическая, экономическая, военная или психологическая), но и своим масштабом, они могут быть связаны с обширным или ограниченным регионом, затрагивать</p>
                        <p>Жизнь крупных общественных групп или даже частную жизнь граждан. Каждая из них охватывает комплекс различных фактов, воздействующих друг на друга, изменяющих ситуацию и способствующих возникновению различных актуальных проблем – вопросов, требующих скорейшего разрешения. Ситуация и связанная с нею проблема составляют специфический предмет отображения в этих жанрах. Важнейшим выразительным средством, которым пользуются авторы, обращающиеся к этим жанрам, является понятие, осмысление фактов, лежащих в основе возникновения определенной ситуации и связанной с нею проблемы.</p>
                    </div>
                </div>
            </div>

            <div class="p-news__item row">
                <div class="p-news__image columns" style="background-image: url('/assets/template/img/tmp/news-2.jpg')"></div>
                <div class="p-news__info columns">
                    <div class="p-news__date">12.10.17</div>
                    <div class="p-news__caption">Мы расширили штат HR-специалистов</div>
                    <div class="p-news__anons">
                        <p>В  обширную группу ситуативно-аналитических жанров публицистики входят: комментарий, корреспонденция, статья. У них общее назначение: анализ ситуаций, возникающих и развивающихся в различных сферах жизни общества. Эти ситуации различаются не только своим характером (политическая, экономическая, военная или психологическая), но и своим масштабом, они могут быть связаны с обширным или ограниченным регионом, затрагивать</p>
                        <p>Жизнь крупных общественных групп или даже частную жизнь граждан. Каждая из них охватывает комплекс различных фактов, воздействующих друг на друга, изменяющих ситуацию и способствующих возникновению различных актуальных проблем – вопросов, требующих скорейшего разрешения. Ситуация и связанная с нею проблема составляют специфический предмет отображения в этих жанрах. Важнейшим выразительным средством, которым пользуются авторы, обращающиеся к этим жанрам, является понятие, осмысление фактов, лежащих в основе возникновения определенной ситуации и связанной с нею проблемы.</p>
                    </div>
                </div>
            </div>

            <div class="p-news__item row">
                <div class="p-news__image columns" style="background-image: url('/assets/template/img/tmp/news-1.jpg')"></div>
                <div class="p-news__info columns">
                    <div class="p-news__date">12.10.17</div>
                    <div class="p-news__caption">Мы расширили штат HR-специалистов</div>
                    <div class="p-news__anons">
                        <p>В  обширную группу ситуативно-аналитических жанров публицистики входят: комментарий, корреспонденция, статья. У них общее назначение: анализ ситуаций, возникающих и развивающихся в различных сферах жизни общества. Эти ситуации различаются не только своим характером (политическая, экономическая, военная или психологическая), но и своим масштабом, они могут быть связаны с обширным или ограниченным регионом, затрагивать</p>
                        <p>Жизнь крупных общественных групп или даже частную жизнь граждан. Каждая из них охватывает комплекс различных фактов, воздействующих друг на друга, изменяющих ситуацию и способствующих возникновению различных актуальных проблем – вопросов, требующих скорейшего разрешения. Ситуация и связанная с нею проблема составляют специфический предмет отображения в этих жанрах. Важнейшим выразительным средством, которым пользуются авторы, обращающиеся к этим жанрам, является понятие, осмысление фактов, лежащих в основе возникновения определенной ситуации и связанной с нею проблемы.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


//= include/footer.html