//= include/header.html
<script>
    document.title = 'Услуги и цены';
</script>

<div class="section-title-crumbs">
    <div class="section-title" style="background-image: url('/assets/template/img/tmp/section-title__price.jpg')">
        <div class="section-title__inner">Услуги и цены</div>
    </div>
    <div class="crumbs">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Услуги и цены</li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">

        <div class="price-blocks">
            <div class="price-blocks__item">
                <div class="price-blocks__card price-blocks__card--employers">
                    <div class="price-blocks__header">
                        Работодателям
                    </div>
                    <div class="price-blocks__box">
                        <div class="employers__row">
                            <div class="employers__left">
                                <div>
                                    <a href="#" class="employers__item">
                                        <div class="employers__name">Подбор персонала</div>
                                        <div class="employers__price">1000 руб.</div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="employers__item">
                                        <div class="employers__name">Банковский сектор</div>
                                        <div class="employers__price">1000 руб.</div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="employers__item">
                                        <div class="employers__name">Финансовые услуги</div>
                                        <div class="employers__price">1000 руб.</div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="employers__item">
                                        <div class="employers__name">Бухгалтерия</div>
                                        <div class="employers__price">1000 руб.</div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="employers__item">
                                        <div class="employers__name">IT-отрасль</div>
                                        <div class="employers__price">1000 руб.</div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="employers__item">
                                        <div class="employers__name">Колл-центры</div>
                                        <div class="employers__price">1000 руб.</div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="employers__item">
                                        <div class="employers__name">Продажи</div>
                                        <div class="employers__price">1000 руб.</div>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="employers__item">
                                        <div class="employers__name">Телекоммуникации</div>
                                        <div class="employers__price">1000 руб.</div>
                                    </a>
                                </div>
                            </div>
                            <div class="employers__right">

                                <div class="employers__elem">
                                    <a href="#" class="employers__link">
                                        Обзоры заработной платы
                                    </a>
                                </div>
                                <div class="employers__elem">
                                    <a href="#" class="employers__link">
                                        Написание мотиваций
                                    </a>
                                </div>
                                <div class="employers__elem">
                                    <a href="#" class="employers__link">
                                        Обзоры заработной платы
                                    </a>
                                </div>
                                <div class="employers__elem">
                                    <a href="#" class="employers__link">
                                        Написание мотиваций
                                    </a>
                                </div>
                                <div class="employers__elem">
                                    <a href="#" class="employers__link">
                                        Обзоры заработной платы
                                    </a>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-blocks__item">
                <div class="price-blocks__card price-blocks__card--applicants">
                    <div class="price-blocks__header">
                        Соискателям
                    </div>
                    <div class="price-blocks__box">
                        <div class="applicants__list">
                            <div class="applicants__item">
                                <div class="applicants__name">Поиск работы</div>
                                <div class="applicants__price">1000 руб.</div>
                            </div>
                            <div class="applicants__item">
                                <div class="applicants__name">Помощь в составлении резюме</div>
                                <div class="applicants__price">1000 руб.</div>
                            </div>
                            <div class="applicants__item">
                                <div class="applicants__name">Поиск работы</div>
                                <div class="applicants__price">1000 руб.</div>
                            </div>
                            <div class="applicants__item">
                                <div class="applicants__name">Помощь в составлении резюме</div>
                                <div class="applicants__price">1000 руб.</div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


//= include/footer.html