//= include/header.html
<script>
    document.title = 'Подбор персонала';
    document.body.classList.add("arrow");
</script>

<div class="section-title-crumbs">
    <div class="section-title" style="background-image: url('/assets/template/img/tmp/podbor-personala__bg.jpg')">
        <div class="section-title__inner">Подбор персонала</div>
    </div>
    <div class="crumbs">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li><a href="/">Услуги</a></li>
                <li class="active">Подбор персонала</li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="stext">
            <p>Наши цены на 20-30% дешевле рынка, при этом в нашем штате работают профессиональные рекрутёры, с опытом работы в федеральных компаниях.Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.  Наши цены на 20-30% дешевле рынка, при этом в нашем штате работают профессиональные рекрутёры, с опытом работы в федеральных компаниях.</p>
            <p>Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.</p>
        </div>
        <div class="row industry__list">
            <div class="columns industry__item-wrap">
                <div class="industry__item" style="background-image: url('/assets/template/img/industry/bank.jpg')">
                    <a href="#bank" class="industry__link"></a>
                    <div class="industry__info">
                        <div class="industry__caption"><span>Банковский сектор</span></div>
                        <div class="industry__text">Сюда можно написать несколько слов об особенностях подбора кадров в данной сфере. Показать, что компания имеет опыт в ней</div>
                        <div class="row">
                            <div class="industry__sum columns six">от 20 000</div>
                            <div class="industry__time columns six">от 3 раб.дн.</div>
                        </div>
                        <a href="#" class="industry__btn"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>
            <div class="columns industry__item-wrap">
                <div class="industry__item" style="background-image: url('/assets/template/img/industry/finance.jpg')">
                    <div class="industry__info">
                        <div class="industry__caption"><span>Финансовый сектор</span></div>
                        <div class="industry__text">Сюда можно написать несколько слов об особенностях подбора кадров в данной сфере. Показать, что компания имеет опыт в ней</div>
                        <div class="row">
                            <div class="industry__sum columns six">от 20 000</div>
                            <div class="industry__time columns six">от 3 раб.дн.</div>
                        </div>
                        <a href="#" class="industry__btn"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>
            <div class="columns industry__item-wrap">
                <div class="industry__item" style="background-image: url('/assets/template/img/industry/buhgalteria.jpg')">
                    <div class="industry__info">
                        <div class="industry__caption"><span>Бухгалтерия</span></div>
                        <div class="industry__text">Сюда можно написать несколько слов об особенностях подбора кадров в данной сфере. Показать, что компания имеет опыт в ней</div>
                        <div class="row">
                            <div class="industry__sum columns six">от 20 000</div>
                            <div class="industry__time columns six">от 3 раб.дн.</div>
                        </div>
                        <a href="#" class="industry__btn"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>
            <div class="columns industry__item-wrap">
                <div class="industry__item" style="background-image: url('/assets/template/img/industry/it.jpg')">
                    <div class="industry__info">
                        <div class="industry__caption"><span>IT-отрасль</span></div>
                        <div class="industry__text">Сюда можно написать несколько слов об особенностях подбора кадров в данной сфере. Показать, что компания имеет опыт в ней</div>
                        <div class="row">
                            <div class="industry__sum columns six">от 20 000</div>
                            <div class="industry__time columns six">от 3 раб.дн.</div>
                        </div>
                        <a href="#" class="industry__btn"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>
            <div class="columns industry__item-wrap">
                <div class="industry__item" style="background-image: url('/assets/template/img/industry/call-centr.jpg')">
                    <div class="industry__info">
                        <div class="industry__caption"><span>Колл-центры</span></div>
                        <div class="industry__text">Сюда можно написать несколько слов об особенностях подбора кадров в данной сфере. Показать, что компания имеет опыт в ней</div>
                        <div class="row">
                            <div class="industry__sum columns six">от 20 000</div>
                            <div class="industry__time columns six">от 3 раб.дн.</div>
                        </div>
                        <a href="#" class="industry__btn"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>
            <div class="columns industry__item-wrap">
                <div class="industry__item" style="background-image: url('/assets/template/img/industry/sales.jpg')">
                    <div class="industry__info">
                        <div class="industry__caption"><span>Продажи</span></div>
                        <div class="industry__text">Сюда можно написать несколько слов об особенностях подбора кадров в данной сфере. Показать, что компания имеет опыт в ней</div>
                        <div class="row">
                            <div class="industry__sum columns six">от 20 000</div>
                            <div class="industry__time columns six">от 3 раб.дн.</div>
                        </div>
                        <a href="#" class="industry__btn"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>
            <div class="columns industry__item-wrap">
                <div class="industry__item" style="background-image: url('/assets/template/img/industry/tele.jpg')">
                    <div class="industry__info">
                        <div class="industry__caption"><span>Телекоммуникации</span></div>
                        <div class="industry__text">Сюда можно написать несколько слов об особенностях подбора кадров в данной сфере. Показать, что компания имеет опыт в ней</div>
                        <div class="row">
                            <div class="industry__sum columns six">от 20 000</div>
                            <div class="industry__time columns six">от 3 раб.дн.</div>
                        </div>
                        <a href="#" class="industry__btn"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>
            <div class="columns industry__item-wrap">
                <div class="industry__item" style="background-image: url('/assets/template/img/industry/all.jpg')">
                    <div class="industry__info">
                        <div class="industry__caption"><span>Все отрасли</span></div>
                        <div class="industry__text">Сюда можно написать несколько слов об особенностях подбора кадров в данной сфере. Показать, что компания имеет опыт в ней</div>
                        <div class="row">
                            <div class="industry__sum columns six">от 20 000</div>
                            <div class="industry__time columns six">от 3 раб.дн.</div>
                        </div>
                        <a href="#" class="industry__btn"><span>Подробнее</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="stext">
            <h2>Заголовок h2 для текста</h2>
            <p>Наши цены на 20-30% дешевле рынка, при этом в нашем штате работают профессиональные рекрутёры, с опытом работы в федеральных компаниях.Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.  Наши цены на 20-30% дешевле рынка, при этом в нашем штате работают профессиональные рекрутёры, с опытом работы в федеральных компаниях.</p>
            <p>Наши технологии и оценка кандидатов гарантируют максимально быстрое закрытие любой вакансии.</p>
        </div>
    </div>
</div>

//= include/footer.html