//= include/header.html
<script>
    document.title = 'Отзывы';
    //document.body.classList.add("arrow");
</script>

<div class="section-title-crumbs">
    <div class="section-title" style="background-image: url('/assets/template/img/tmp/section-title__review.jpg')">
        <div class="section-title__inner">Отзывы наших клиентов</div>
    </div>
    <div class="crumbs">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Отзывы</li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        
        <div class="review__list row">

            <div class="review__item columns">
                <div class="review__card row">
                    <div class="review__overlay"></div>
                    <div class="review__image columns">
                        <a href="/assets/template/img/tmp/review-big-1.jpg" class="img-link">
                            <img src="/assets/template/img/tmp/review-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="review__info columns">
                        <div class="review__name">
                            ООО «Итератор»
                        </div>
                        <div class="review__text">
                            Текст отзыва в формате html для удобства чтения и индексации. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </div>
                    </div>
                </div>
            </div>
            <div class="review__item columns">
                <div class="review__card row">
                    <div class="review__overlay"></div>
                    <div class="review__image columns">
                        <a href="/assets/template/img/tmp/review-big-1.jpg" class="img-link">
                            <img src="/assets/template/img/tmp/review-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="review__info columns">
                        <div class="review__name">
                            ООО «Итератор»
                        </div>
                        <div class="review__text">
                            Текст отзыва в формате html для удобства чтения и индексации. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </div>
                    </div>
                </div>
            </div>
            <div class="review__item columns">
                <div class="review__card row">
                    <div class="review__overlay"></div>
                    <div class="review__image columns">
                        <a href="/assets/template/img/tmp/review-big-1.jpg" class="img-link">
                            <img src="/assets/template/img/tmp/review-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="review__info columns">
                        <div class="review__name">
                            ООО «Итератор»
                        </div>
                        <div class="review__text">
                            Текст отзыва в формате html для удобства чтения и индексации. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </div>
                    </div>
                </div>
            </div>
            <div class="review__item columns">
                <div class="review__card row">
                    <div class="review__overlay"></div>
                    <div class="review__image columns">
                        <a href="/assets/template/img/tmp/review-big-1.jpg" class="img-link">
                            <img src="/assets/template/img/tmp/review-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="review__info columns">
                        <div class="review__name">
                            ООО «Итератор»
                        </div>
                        <div class="review__text">
                            Текст отзыва в формате html для удобства чтения и индексации. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </div>
                    </div>
                </div>
            </div>
            <div class="review__item columns">
                <div class="review__card row">
                    <div class="review__overlay"></div>
                    <div class="review__image columns">
                        <a href="/assets/template/img/tmp/review-big-1.jpg" class="img-link">
                            <img src="/assets/template/img/tmp/review-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="review__info columns">
                        <div class="review__name">
                            ООО «Итератор»
                        </div>
                        <div class="review__text">
                            Текст отзыва в формате html для удобства чтения и индексации. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </div>
                    </div>
                </div>
            </div>
            <div class="review__item columns">
                <div class="review__card row">
                    <div class="review__overlay"></div>
                    <div class="review__image columns">
                        <a href="/assets/template/img/tmp/review-big-1.jpg" class="img-link">
                            <img src="/assets/template/img/tmp/review-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="review__info columns">
                        <div class="review__name">
                            ООО «Итератор»
                        </div>
                        <div class="review__text">
                            Текст отзыва в формате html для удобства чтения и индексации. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </div>
                    </div>
                </div>
            </div>
            <div class="review__item columns">
                <div class="review__card row">
                    <div class="review__overlay"></div>
                    <div class="review__image columns">
                        <a href="/assets/template/img/tmp/review-big-1.jpg" class="img-link">
                            <img src="/assets/template/img/tmp/review-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="review__info columns">
                        <div class="review__name">
                            ООО «Итератор»
                        </div>
                        <div class="review__text">
                            Текст отзыва в формате html для удобства чтения и индексации. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </div>
                    </div>
                </div>
            </div>
            <div class="review__item columns">
                <div class="review__card row">
                    <div class="review__overlay"></div>
                    <div class="review__image columns">
                        <a href="/assets/template/img/tmp/review-big-1.jpg" class="img-link">
                            <img src="/assets/template/img/tmp/review-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="review__info columns">
                        <div class="review__name">
                            ООО «Итератор»
                        </div>
                        <div class="review__text">
                            Текст отзыва в формате html для удобства чтения и индексации. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="review__more">
            <a href="#" class="btn review-more">Еще отзывы</a>
        </div>

        
    </div>
</div>

//= include/footer.html